*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.3s;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "form section section section";
}
/* =====erore========= */
.erore{
    display: block;
    color: red;
}
/* ========form======== */
form{
    width: 100%;
    padding: 2em;
    grid-area: form;
    font-size: large;
}
form p{
    display: none;
    margin-top: 0;
}
form label{
    font-size: large;
}
form input[type=text]{
    width: 100%;
    padding: 10px 0;
    font-size: large;
    color: rgb(0, 0, 0);
    margin-bottom: 2em;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}
form input[type=date]{
    width: 100%;
    padding: 10px 0;
    font-size: large;
    margin-bottom: 2em;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}
form select{
    width: 100%;
    height: 2em;
    font-size: large;
    margin-bottom: 2em;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}
form button{
    padding: 1em 3em;
    margin: 1em 0 0 0;
    border: none;
    color:white;
    background-color: darkturquoise;
}
form button:hover{
    background-color: turquoise;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
form input[type=radio]{
    cursor: pointer;
}
form fieldset{
    margin-bottom: 1em;
}
#save{
    display: none;
    background-color: red;
    color: black;
}
#save:hover{
    background-color: rgba(255, 0, 0, 0.769);
    color: white;
}
/* ========section====== */
section{
    padding: 2em;
    grid-area: section;
    width: 100%;
}
/* ========table======= */
table{
    width: 100%;
    text-align: center;
    background-color: antiquewhite;
}
table th{
    color: white;
    background-color: red;
}
table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table tr th, td{
    padding: 0.5em 2em;
}
table button{
    height: 3em;
    padding: 5px 10px;
    margin: 1px;
    width: 100%;
    cursor: pointer;
}
.add{
    color: black;
    background-color:white;
}
.add:hover{
    color: white;
    background-color: black;
}
.remove{
    color: black;
    background-color: rgb(255, 125, 125);
}
.remove:hover{
    color: white;
    background-color: rgb(255, 0, 0);
}
/* ======modal======= */
#modaleremove{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
}
.container{
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: center;
    margin: 0;
    background-color: white;
    padding: 2em;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
}
#allbutton button{
    height: 3em;
}
#allbutton{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "cancel cancel delte delte";
}
#cancel{
    grid-area:cancel;
    color: white;
    background-color: black;
}
#delete{
    grid-area:delte;
    color: white;
    background-color: red;
}
#modaleadd{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: fixed;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
}
#mod-add{
    font-size: x-large;
    margin-bottom: 1em;
    line-height: 2em;
    text-align: justify;
}
#hide{
    grid-column-start: 2;
    grid-column-end: 4;
    color: white;
    background-color: red;
}
/* ========responsive======== */
@media only screen and (max-width: 768px) {
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "form" "section";
    }
    form{
        grid-area: form;
    }
    section{
        grid-area: section;
    }
    #modale{
        width: 231%;
        height: 100%;
    }
}